# Application Settings
PORT
URL
NODE_ENV

# Database Configuration
DATABASE_URL

# Authentication Settings
ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRES_IN

REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRES_IN

# Nodemailer Settings
# Test User
TEST_FIRSTNAME
TEST_LASTNAME
TEST_USERNAME
TEST_EMAIL
TEST_PASSWORD
TEST_DATEOFBIRTH
TEST_COUNTRY
# Gmail
GMAIL_HOST
GMAIL_USER
GMAIL_PASSWORD